<main class="main">
    <div class="content">
        <span class="title">HTML Message Template Editor</span>
        <div class="content-input">
            <p-floatlabel>
                <input pInputText id="over_label" [(ngModel)]="templateDescription" autocomplete="off" pSize="large"
                       [style]="{width: '800px'}"/>
                <label for="over_label">Type prompt about the message template content</label>
            </p-floatlabel>
            <p-button
                    label="Generate"
                    (onClick)="onClick()"
                    [disabled]="!templateDescription"
            ></p-button>
        </div>
        @if (msg) {
            <p-message severity="success">{{ msg }}</p-message>
        }
        <div class="content-input">
            <p-editor [(ngModel)]="templateContent" [style]="{ height: '500px', width: '900px' }">
            </p-editor>
        </div>
    </div>
</main>
<router-outlet/>
